@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --orange-color: rgb(231, 131, 17);
    --orange-tinted: rgb(204, 152, 93);
    --black-tinted: rgba(19, 18, 18, 0.219);
    --body-color: rgba(0, 0, 0, 0.479);
}
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 2s ease-in-out;
}
a{
    cursor: pointer;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
::placeholder{
    font-weight: bold;
    color: var(--orange-color);
}
#container{
    display: block;

}
header{
    display: flex;
    justify-content: space-between;
    /*padding: 17px 30px;*/
    padding: 1rem;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 10px 13px -3px rgba(228, 216, 216, 0.75);
    color: var(--orange-color);
}
header #logo img{
    height: 80px;
    
}
header form{
    width: 900px;
    display: flex;
}
header form .input{
    height: 45px;
    background-color: transparent;
    width:calc(100% - 60px);
    border: 1px solid var(--orange-color);
    padding-left: 10px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
header form button{
    font-weight: 900;
    background-color: var(--orange-color);
    height: 45px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color: #fff;
    width: 60px;
}
#navigation{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    width: 30%;
    /*clip-path: polygon(0 100%, 100% 0, 100% 0);*/
    height: calc(100% - 75px);
    padding: 1rem;
    display: none;
}
#navigation.active{
    display: block;
    /*clip-path: polygon(0 100%, 100% 0, 100%);*/
}
#navigation ul{
    list-style: none;
}
#navigation ul li{
    padding: 1rem;
}
#navigation ul li a{
    color: var(--orange-color);
    font-size: 1.2rem;
}
#icons button{
    padding: 10px 10px;
    border: none;
    position: relative;
    color: var(--orange-color);
}

#cart-items-length{
    position: absolute;
    top: 2px;
    right: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    background-color:#f00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
#menu{
    color: var(--orange-color);
}
#close{
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-weight: 900;
    color: var(--orange-color);

}
#sign-in{
    padding: 10px;
    background-color: var(--orange-color);
    width: 110px;
    color: #fff;
    font-size: 1rem;
    border-radius: .5rem;
    font-weight: 900;
}
@media(max-width: 768px){

    header{
        padding: 5px;
    }
    #logo{
        height: 65px;
    }
    header form{
        width: 210px;
    }
    header form .input{
        height: 30px;
    }
    #icon button{
        padding: 5px;

    }
    #navigation{
        top:0;
        width:100%;
    }
}
#banner-wrapper{
    height: calc(100vh - 75px);
    color: #000;
    background-color: var(--orange-color);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
#banner-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    z-index: -1;

}


#banner-container{
    padding: 7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
#banner-content h1{
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: #000;
    text-transform: uppercase;
}
#banner-content #shop-now{
    margin-top: 1rem;
    background-color: var(--black-tinted);
    color: #fff;
    padding: 17px;
    cursor: pointer;
    font-size: 1.5rem;
}
@media(max-width:768px){
    #banner-container{
        width: 100%;
        height: 100%;
        padding: 3rem;
    }
    #banner-content h1{
        font-size: 2.5rem;
    }
    #banner-image{
        width: 750px;
    }
    #banner-image img{
        width: 100%;
    }
}
#trending-products{
    padding: 2rem;
    display: block;
    text-align: center;
}
#trending-products h1{
    padding: 2rem 0;
    display: block;
    font-size: 3rem;
    color: var(--orange-color);
}
#products-grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-gap: 1rem;
    padding: 1rem;
}
#product{
    background-color: transparent;
    /*background-color: #fff;*/
    box-shadow: 2px 5px 5px 5px var(--orange-tinted);
    text-align: left;
    font: 1.2rem;
    padding: 1rem;
    color: #8d8888;
    width: 350px;
    /*border-left: 1px solid #8d8888;*/
}
#product img{
    height: 200px;
    width: 200px;
}
#product h3{
    padding: 1rem 0;
}
#product strong{
    padding: 1rem 0;
}
#product select{
    padding: 5px;
    width: 100px;
    border: 1px solid var(--orange-color);
    color: #8d8888;
    text-align: left;
}
#product p{
    margin: 1rem 0;
}
#product button{
    background-color: var(--orange-color);
    color: #fff;
    font-size: 1rem;
    padding: 17px;
    width: 180px;
    border-radius: .5rem;
}
@media(max-width:768px){
    #products-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    #trending-products h1{
        font-size: 2rem;
    }
    #product{
        /*background-color: #8d8888;*/
        width: 100%;
        border: 0;
        margin-bottom: 1rem;
    }
    #product img{
        width: 100%;
    }
    #product button{
        width: 100%;
    }
}
#container-order{
    display: block;
    padding: 2rem;

}
#container-order h2{
    color: var(--body-color);
}
.checkout{
    display: flex;
    justify-content: space-between;
}
#product-card{
    width: 70%;
    border: 1px solid #8d8888;
    padding: 1rem;
    display: block;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}
#cartItem{
    display: flex;
    align-items: center;
}
#product-details{
    display: flex;
    justify-content: space-between;
}
#product-details h3{
    padding: 1rem 0;
    color: var(--orange-color);
}
#product-details img{
    height: 200px;
    width: 200px;
}
#product-details span{
    cursor: pointer;
    color: var(--orange-color);
    font-weight: 400;
    letter-spacing: 2px;
}
#product-details #delete-links:hover{
    color: #f00;
}
#product-radio{
    padding: 1rem;
}
#product-radio span{
    padding:  1rem;
}
#product-radio p{
    padding: 1rem 0;
}
#order-summery{
    width: 26%;
    border: 1px solid #8d8888;
    padding: 1rem;
    height: 30%;
}
#flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
#order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: var(--body-color);
}
#order-total h3{
    font-weight: bold;
}
#order{

    background-color: var(--orange-color);
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}
#order-total span{
    font-weight: 900;
    color: var(--orange-color);
}